@model ML.Tarea
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true">


<h2>Lista de Tareas </h2>